body {
	padding: 0; 
	margin: 0; 
	background: url('../img/textured_bg.png') fixed;
	color: #F0F0F0;
}

#entityA {
    background: teal; 
    width: 200px; 
    height: 200px;  
    position: absolute; 
    top: 100px; 
    left: 100px;
	color: #FFFFFF;
	text-align: center;
	font-size: 2em;
}

#entityB {
   background: purple; 
   width: 200px; 
   height: 200px;
   position: absolute; 
   top: 100px; 
   left: 600px;
   color: #FFFFFF;
   text-align: center;   
   font-size: 2em;
}